bg(u, x =0, y = 0, r = no-repeat, color = false) {
	if (color){
		background:color url($pathToImg + u) x y r;
	} else {
		background:url($pathToImg + "/" + u) x y r;
	}
	
}
opacity(n, args...){
  opacity: n args;
  if (support-for-ie){
    val = round(n * 100);
    if (val == 100){
      -ms-filter: none;
      filter: none;
    }
  }else{
      -ms-filter: '"progid:DXImageTransform.Microsoft.Alpha(Opacity=%s)"' % val args
      filter: 'alpha(opacity=%s)' % val args
  }
}