/*
body {
	margin: 0;
	font: 14px Tahoma, arial, sans-serif;
	color: $textColor;
}
img {
	border-style: none;
}
a {
	color: blue;
}
a:hover {
	text-decoration: none;
}
a,input,textarea, select, button {outline: none;}
input, textarea, select {
	font: 100% tahoma,arial,sans-serif;
	vertical-align: middle;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
figure {
	margin: 0;
}
figure img {
	vertical-align: top;
}
header, nav, section, article, aside, footer, figure {
	display: block;
}*/
